@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* 全体設定 
============================================================================================================ */
:root {
  --base-color-1: #eee;
  --base-color-2: #ccc;
  --base-color-3: #666;
  --base-color-4: #222;

  --theme-color-1: #dbe0e3;
  --theme-color-2: #3282B8;
  --theme-color-3: #0F4C75;
  --theme-color-4: #1B262C;

}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  background-color: var(--base-color-1);
  color: var(--base-color-3);
}

#wrapper {
  height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

main {
  scrollbar-color: var(--base-color-2) var(--base-color-1);
}

/* ヘッダー
============================================================================================================ */
header h1 {
  color: var(--theme-color-4);
  font-size: 2rem;
}

/* フォーム要素
============================================================================================================ */
.form-control:focus {
  border-color: var(--theme-color-2);
  box-shadow: none;
}

.form-check-input:checked {
  background-color: var(--theme-color-2);
  border-color: var(--theme-color-2);
}

.form-check-input:focus {
box-shadow: 0 0 0 .15rem rgba(13,110,253,.25);
}

/* ボタン
============================================================================================================ */
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 40px;
  width: 40px;
}

.btn-icon-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .25rem;
  height: 60px;
  width: 60px;
}

.btn-icon .material-symbols-outlined {
  font-variation-settings:
  'wght' 300
}

.btn {
  transition: .3s;
}

.btn-theme-1 {
  background-color: var(--theme-color-1);
  color: var(--base-color-4);
}
.btn-theme-1:hover {
  background-color: var(--theme-color-1);
  color: var(--base-color-4);
  opacity: .8;
}

.btn-theme-2 {
  background-color: var(--theme-color-2);
  color: var(--base-color-1);
}
.btn-theme-2:hover {
  background-color: var(--theme-color-2);
  color: var(--base-color-1);
  opacity: .8;
}

.btn-theme-3 {
  background-color: var(--theme-color-3);
  color: var(--base-color-1);
}
.btn-theme-3:hover {
  background-color: var(--theme-color-3);
  color: var(--base-color-1);
  opacity: .8;
}

.btn-theme-4 {
  background-color: var(--theme-color-4);
  color: var(--base-color-1);
}
.btn-theme-4:hover {
  background-color: var(--theme-color-4);
  color: var(--base-color-1);
  opacity: .8;
}

.btn-outline-theme-2 {
  background-color: transparent;
  color: var(--theme-color-2);
  border: 1px solid var(--theme-color-2);
}
.btn-outline-theme-2:hover {
  background-color: var(--theme-color-2);
  color: var(--base-color-1);
  border: 1px solid var(--theme-color-2);
  opacity: .8;
}

.btn-outline-theme-3 {
  background-color: transparent;
  color: var(--theme-color-3);
  border: 1px solid var(--theme-color-3);
}
.btn-outline-theme-3:hover {
  background-color: var(--theme-color-3);
  color: var(--base-color-1);
  border: 1px solid var(--theme-color-3);
  opacity: .8;
}

.btn-outline-theme-4 {
  background-color: transparent;
  color: var(--theme-color-4);
}
.btn-outline-theme-4:hover {
  border: 1px solid var(--theme-color-4);
}